@use 'base/variables' as v;
@use 'base/mixins' as m;

.container{
  border-radius: 1rem;
    background-color: #eff9ff;
    width: 100%;
    padding: 1rem 0.8rem;
  .display{
    overflow-x: scroll; 
    p{
      text-align: right;  
      font-size: 3.5rem;
      font-weight: 700;
    }
  }
  ::-webkit-scrollbar-thumb {
    background-color: #cecece; /* Color del thumb (barra) */
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    height: 4px;
    background-color: #eff9ff;
  }
}
